node_modules/
vendor/
.bundle/
articles/*.pdf
articles/*-pdf/
articles/*jar

# Graphvizとか使うと生成されるやつ
articles/images/html/
articles/images/latex/

.DS_Store
Thumbs.db

distribute/

articles/*.html

!.vscode/
